{% extends "wedding_rsvp/base.html" %} {%load static %} {% block content %}
<div class="dim-background"></div>
<section class="code-login">
  <div class="login-box">
    <img
      src="{% static 'wedding_rsvp/images/logo_sage.png' %}"
      alt="Logo"
      class="login-logo"
    />
    <h2 class="login-title">RSVP<!--Log In--></h2>
    <p class="login-message">
      We're so sorry, but RSVP submissions have closed.
      <!--We have reserved seat/s in your honor. Your response is requested on or
      before exactly a month before the wedding.-->
    </p>
    <!--<form method="POST">
      {% csrf_token %} {{ form.c_guest_code.label_tag }} {{form.c_guest_code}}
      <button type="submit" id="confirm-guest-btn" class="login-btn" disabled>
        Send
      </button>
    </form>
    {% if error %} {% include "wedding_rsvp/code_validation.html" %} {%endif%}
    {% if error_already_reg %}
    <div class="error-box" id="error-box">
      <p style="color: #a1b38c">You already submitted an RSVP.</p>
    </div>
    {%endif%}-->
  </div>
</section>

{% endblock %}
