{% extends "wedding_rsvp/base.html" %} {%load static %} {% block content %}
<!-- Entourage -->
<div class="dim-background"></div>
<section class="entourage-featured page-trans" id="entourage">
  <h2 class="entourage-title">Our Entourage</h2>
  <div class="entourage-featured-grid">
    <div class="entourage-featured-card matron-of-honor">
      <img
        src="{% static 'wedding_rsvp/images/entourage/jucel_3.JPG' %}"
        alt="Mrs Jucel B Gustillo"
      />
      <div class="entourage-info">
        <h3>Jucel Betangcol-Gustillo</h3>
        <p>Matron of Honor</p>
      </div>
    </div>
    <div class="entourage-featured-card best-man">
      <img
        src="{% static 'wedding_rsvp/images/entourage/michael.jpg'%}"
        alt="Michael Samson"
      />
      <div class="entourage-info">
        <h3>Michael T. Samson</h3>
        <p>Best Man</p>
      </div>
    </div>
  </div>
  <h2 class="groomsmen-bridesmaids-title">Bridesmaids & Groomsmen</h2>
  <div class="entourage-pair-group">
    <div class="entourage-pair">
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/steph_edited.jpg' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Estephanie T. Samson</h3>
          <p>Bridesmaid</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/kidd.jpg'%}"
          alt="Groomsman"
          style="object-position: 50% 10%"
        />
        <div class="entourage-info">
          <h3>Melquiades M. Colasito</h3>
          <p>Groomsman</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/justin.JPG' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Justine M. Punzalan</h3>
          <p>Bridesmaid</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/john.jpg'%}"
          alt="Groomsman"
          style="object-position: 50% 20%"
        />
        <div class="entourage-info">
          <h3>John M. Cariño</h3>
          <p>Groomsman</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/joan_edited.jpg' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Joan O. Belmes</h3>
          <p>Bridesmaid</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/don.jpg'%}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Don C. Mangalindan</h3>
          <p>Groomsman</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/charm_edited.jpeg' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Charmain A. Cartagena</h3>
          <p>Bridesmaid</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/kiko_2.jpg' %}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Francisco T. Munsayac</h3>
          <p>Groomsman</p>
        </div>
      </div>
    </div>
    <!-- Add more pairs here -->
  </div>
  <h2 class="groomsmen-bridesmaids-title">To Light our Way through Life</h2>
  <div class="entourage-pair-group">
    <div class="entourage-pair">
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/drae.jpeg' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Draeselle D. Gallego</h3>
          <!-- <p>Bridesmaid</p> -->
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/francis.jpg'%}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Francis B. Sona</h3>
          <!-- <p>Groomsman</p> -->
        </div>
      </div>
    </div>
    <!-- Add more pairs here -->
  </div>
  <h2 class="groomsmen-bridesmaids-title">To Clothe Us in the Veil of Unity</h2>
  <div class="entourage-pair-group">
    <div class="entourage-pair">
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/mariekarr.jpg' %}"
          alt="Bridesmaid"
          style="object-position: 50% 30%"
        />
        <div class="entourage-info">
          <h3>Mariekarr D. Bautista</h3>
          <!-- <p>Bridesmaid</p> -->
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/micky_2.jpg'  %}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Mark Christian S. Bautista</h3>
          <!-- <p>Groomsman</p> -->
        </div>
      </div>
      <!-- Add more pairs here -->
    </div>
  </div>
  <h2 class="groomsmen-bridesmaids-title">To Bind us in the Cord of Love</h2>
  <div class="entourage-pair-group">
    <div class="entourage-pair">
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/iza.jpg' %}"
          alt="Bridesmaid"
          style="object-position: 50% 20%"
        />
        <div class="entourage-info">
          <h3>Nerissa B. Mangalindan</h3>
          <!-- <p>Bridesmaid</p> -->
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/niek.jpg' %}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Daniel C. Mangalindan</h3>
          <!-- <p>Groomsman</p> -->
        </div>
      </div>
      <!-- Add more pairs here -->
    </div>
  </div>
  <h2 class="bearers-title">Bearers</h2>
  <div class="entourage-pair-group">
    <div class="bearers-pair">
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/ali.jpg' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Mcalister A. Colasito</h3>
          <p>Coin Bearer</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/mon_2.jpeg' %}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Driton MonLewis D. Gallego</h3>
          <p>Ring Bearer</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/lei_2.jpeg' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Dmitri Lei D. Gallego</h3>
          <p>Bible Bearer</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/paul_2.JPG' %}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Paul Umi Q. Cariño</h3>
          <p>Flower Girl</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/georgie_3.jpg' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>George Ula Q. Cariño</h3>
          <p>Flower Girl</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/tally_2.jpg' %}"
          alt="Groomsman"
        />
        <div class="entourage-info">
          <h3>Maria Ataliah D. Bautista</h3>
          <p>Flower Girl</p>
        </div>
      </div>
      <div class="entourage-featured-card">
        <img
          src="{% static 'wedding_rsvp/images/entourage/amber.JPG' %}"
          alt="Bridesmaid"
        />
        <div class="entourage-info">
          <h3>Amber Lexie B. Dela Paz</h3>
          <p>Flower Girl</p>
        </div>
      </div>
    </div>
    <!-- Add more pairs here -->
  </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll("section.page-trans").forEach((section) => {
      setTimeout(() => {
        section.classList.add("active");
      }, 50);
    });
  });
  document.querySelectorAll("a").forEach((link) => {
    link.addEventListener("click", (e) => {
      if (
        link.hostname === window.location.hostname &&
        link.getAttribute("target") !== "_blank"
      ) {
        e.preventDefault();
        document.querySelectorAll("section.page-trans").forEach((section) => {
          section.classList.remove("active");
        });
        setTimeout(() => {
          window.location = link.href;
        }, 600);
      }
    });
  });
</script>
{% endblock %}
