{% extends "wedding_rsvp/base.html" %} {%load static %} {% block content %}
<div class="dim-background"></div>

<section class="rsvp-wrapper" id="rsvp-wrapper-id">
  <div class="rsvp-box">
    <img
      src="{% static 'wedding_rsvp/images/logo_sage.png' %}"
      alt="Wedding Logo"
      class="rsvp-logo"
    />
    <h2 class="rsvp-confirm">RSVP</h2>
    <div class="rsvp-info">
      <p>
        Thank you for submitting your RSVP! We're excited to see you on our
        special day!
      </p>
    </div>
  </div>
</section>

{% endblock %}
